[submodule "third-party/snape"]
	path = third-party/snape
	url = git://github.com/PkXwmpgN/snape
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = git://github.com/PkXwmpgN/assimp
[submodule "third-party/libpng"]
	path = third-party/libpng
	url = git://github.com/PkXwmpgN/libpng
	branch = 1.6.26-gitignore
[submodule "third-party/pugixml"]
	path = third-party/pugixml
	url = git://github.com/PkXwmpgN/pugixml
[submodule "third-party/freetype2"]
	path = third-party/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = git://github.com/PkXwmpgN/glm
