<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yegorov.alexey.elements.air" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:icon="@mipmap/air_wallpaper"
        android:label="@string/application_name"
        android:theme="@style/application_theme">

        <service
            android:name=".AirWallpaperService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name=".AirWallpaperSettings"
            android:exported="true"
            android:label="@string/prefs_activity_title"
            android:permission="android.permission.BIND_WALLPAPER" >
        </activity>

        <activity
            android:name=".AirWallpaperActivity"
            android:icon="@mipmap/air_wallpaper"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
